@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@300;400;500;900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #f1f1f1;
    /* position: absolute; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* position: sticky; */
    padding: 20px;
    border-bottom: 0.5 px solid rgb(77, 76, 76);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo1 {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: rgb(4, 60, 4);
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo2 {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: rgb(112, 206, 112);

}

.menu {
    display: flex;
}

.menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin-right: 15px;
}

.menu ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
}

.profile img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: auto;
}

/* mobile phone responsive */
@media (max-width: 767px) {
    .menu {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .menu.active ul {
        flex-direction: column;
    }

    .menu.active ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}


/* mediaqury for ipad mini */
@media (min-width: 768px) {
    /* third section here start  */
    .third_container_box{
    background-color: white;
    display: none;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    left: 60px;
    bottom: -55px;
    width: 16vw;
    height: 120px;
    border-bottom: 0.2px solid gray;
 
}

    .third_container_box img {
        height: 65px;
        width: 70px;
        margin: 2px;

    }

    /* fourth section  */
    .forth_main {
        margin-top: 55px;
    }

    .forth_one {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    .forth_one h3 {
        font-size: larger;
    }

    .forth_one_mini p span {
        color: #00C992;
        font-weight: 900;
    }

    .progress {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .progress div {
        height: 10px;
        width: 15px;
        background-color: gray;
        border-radius: 1.5px;
    }

    .progress .one {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        background-color: #00C992;
    }

    .progress .last {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;

    }

    .forth_last {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .forth_last_one {
        margin-left: 15px;
        margin-right: 15px;
    }


    .forth_last_one .btn {
        height: 40px;
        width: auto;
        margin: 3px;
        border-radius: 5px;
        border: 1px solid gray;
        font-weight: bold;
        background-color: white;
    }

    .forth_last_one .btn:hover {
        height: 40px;
        width: auto;
        margin: 3px;
        border-radius: 5px;
        color: #05a77b;
        font-weight: bold;
    }

    .forth_last_two .btn {
        height: 40px;
        width: 150px;
        margin: 3px;
        border-radius: 5px;
        border: 1px solid gray;
        font-weight: bold;
        margin-top: 10px;
        margin-right: 15px;
        background-color: white;

    }

    .forth_last_two .btn:hover {
        height: 40px;
        width: 150px;
        margin: 3px;
        border-radius: 5px;
        border: 1px solid gray;
        font-weight: bold;
        margin-top: 10px;
        margin-right: 15px;
        background-color: #00C992;
        cursor: pointer;

    }


    /* fifth_section */
    .fifth_section {
        display: none;
    }

    .fifth_section1 {
       display: none;


    }

    .fifth_section1 p {
        border-bottom: 0.1px solid rgb(254, 253, 253);
        color: grey;
        margin-left: 10px;
        padding-bottom: 2px;
    }

    .fifth_section1_head {
        margin-left: 10px;
    }

    .fifth_section2 {
        height: auto;
        width: 82vw;

    }

    .fifth_section2_box1 {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .fifth_section2_box1 h2 {
        margin-left: 5px;

    }


    .fifth_section2_box1_mini {
        border: 0.1px solid rgb(217, 217, 217);
        border-radius: 8px;
        border-right: none;

    }

    .fifth_section2_box1 div button {
        margin-right: 5px;
        height: 30px;
        width: 45px;
        border: none;
        border-right: 1px solid rgb(214, 211, 211);

    }

    .fifth_section2_box1_mini_last {
        border-right: none;
    }

    /*ifth_section2_box2 */
    .fifth_section2_box2 {
        height: 500px;
        width: 81.5vw;
        /* border: 2px solid black; */
        /* object-fit: cover;   */
        background-image: url("../assets /images/fit.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;

    }

    #box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #box1 {
        background-color: white;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-top: 10px;
    }

    #box1 .btn {
        background-color: transparent;
        display: flex;
        height: 40px;
        width: 50px;
        justify-content: center;
        align-items: center;
        border: none;
        border-right: 0.1px solid gray;
        color: black;
    }

    #box1 .btn:hover {
        background-color: transparent;
        display: flex;
        height: 40px;
        width: 50px;
        justify-content: center;
        align-items: center;
        border: none;
        border-right: 0.1px solid gray;

        cursor: pointer;
        font-weight: bold;
    }

    #box2 {
        margin-top: 10%;
        background-color: white;
        border-radius: 2px;
        opacity: 0.5;
        color: black;
        box-sizing: border-box;
        width: 400px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    #box2 .para1 {
        font-size: 50px;
        font-weight: 300px;
        margin-bottom: 0px;
        /* opacity: 0.9; */

    }

    #box2 p {
        font-weight: bold;
    }


    #box2 .box {
        opacity: 0.9;
        overflow: hidden;
    }

    .fifth_section2_box3 {
        margin-top: 10px;
        display: flex;
        height: 40px;
        width: 50px;
        justify-content: center;
        align-items: center;
        border: none;
    }

    .fifth_section2_box3 button {
        height: auto;
        width: auto;
        border: none;
    }
}


/* second container */
.second_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box1 {
    margin-left: 15px;

}

.box2 {
    margin-right: 15px;
}

.box1_text {
    color: #4B8C83;
    font-weight: bolder;
}


.box2_btn {
    background-color: #00C992;
    color: white;
    font-size: medium;
    height: 45px;
    width: 150px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}



/* third section here start  */

.third_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 350px;
    width: auto;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(17, 15, 15);
    background-image: url("../assets /images/first.avif");
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}


.text_container {
    display: flex;
    justify-content: center;
    height: 350px;
    width: 45vw;
    background: linear-gradient(rgb(243 237 237 / 63%), rgb(242, 225, 225));
    clip-path: polygon(33% 0, 100% 0%, 100% 100%, 0 100%);
    font-weight: bolder;
    font-size: larger;
    opacity: 0.5;
    margin: 0px;
    overflow: hidden;


}

.text_container h1 {
    margin-top: 100px;
}

.third_container_box {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    left: 60px;
    bottom: -55px;
    width: 16vw;
    height: 120px;
    border-bottom: 0.2px solid gray;

}

.third_container_box img {
    height: 70px;
    width: 70px;
    margin: 2px;

}

/* fourth section  */
.forth_main {
    margin-top: 55px;
}

.forth_one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.forth_one h3 {
    font-size: larger;
}

.forth_one_mini p span {
    color: #00C992;
    font-weight: 900;
}

.progress {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.progress div {
    height: 10px;
    width: 15px;
    background-color: gray;
    border-radius: 1.5px;
}

.progress .one {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #00C992;
}

.progress .last {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

.forth_last {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.forth_last_one {
    margin-left: 15px;
    margin-right: 15px;
}


.forth_last_one .btn {
    height: 40px;
    width: auto;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid gray;
    font-weight: bold;
    background-color: white;
}

.forth_last_one .btn:hover {
    height: 40px;
    width: auto;
    margin: 3px;
    border-radius: 5px;
    color: #05a77b;
    font-weight: bold;
}

.forth_last_two .btn {
    height: 40px;
    width: 150px;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid gray;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 15px;
    background-color: white;

}

.forth_last_two .btn:hover {
    height: 40px;
    width: 150px;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid gray;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 15px;
    background-color: #00C992;
    cursor: pointer;

}


/* fifth_section */
.fifth_section {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* align-items: center;  */
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;


}

.fifth_section1 {
    border: none;
    border-radius: 10px;
    height: 330px;
    width: 12vw;
    background-color: whitesmoke;
    z-index: -1;
    margin-left: 8px;
    margin-top: 20px;


}

.fifth_section1 p {
    border-bottom: 0.1px solid rgb(254, 253, 253);
    color: grey;
    margin-left: 10px;
    padding-bottom: 2px;
}

.fifth_section1_head {
    margin-left: 10px;
}

.fifth_section2 {
    height: auto;
    width: 82vw;

}

.fifth_section2_box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.fifth_section2_box1 h2 {
    margin-left: 5px;

}


.fifth_section2_box1_mini {
    border: 0.1px solid rgb(217, 217, 217);
    border-radius: 8px;
    border-right: none;

}

.fifth_section2_box1 div button {
    margin-right: 5px;
    height: 30px;
    width: 45px;
    border: none;
    border-right: 1px solid rgb(214, 211, 211);

}

.fifth_section2_box1_mini_last {
    border-right: none;
}

/*ifth_section2_box2 */
.fifth_section2_box2 {
    height: 500px;
    width: 81.5vw;
    /* border: 2px solid black; */
    /* object-fit: cover;   */
    background-image: url("../assets /images/fit.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;

}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box1 {
    background-color: white;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
}

#box1 .btn {
    background-color: transparent;
    display: flex;
    height: 40px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border: none;
    border-right: 0.1px solid gray;
    color: black;
}

#box1 .btn:hover {
    background-color: transparent;
    display: flex;
    height: 40px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border: none;
    border-right: 0.1px solid gray;

    cursor: pointer;
    font-weight: bold;
}

#box2 {
    margin-top: 10%;
    background-color: white;
    border-radius: 2px;
    opacity: 0.5;
    color: black;
    box-sizing: border-box;
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#box2 .para1 {
    font-size: 50px;
    font-weight: 300px;
    margin-bottom: 0px;
    /* opacity: 0.9; */

}

#box2 p {
    font-weight: bold;
}


#box2 .box {
    opacity: 0.9;
    overflow: hidden;
}

.fifth_section2_box3 {
    margin-top: 10px;
    display: flex;
    height: 40px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border: none;
}

.fifth_section2_box3 button {
    height: auto;
    width: auto;
    border: none;
}